# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.idea/
*.iml
*.zip
#过滤所有.zip文件

venv/*　　　

/.idea/　　　

/PRE_Bigru/.idea/
/venv/


*__init__.py
/PRE_dataset/craw_hudong_2.0/hudong_baike/paths_to_somewhere/
/PRE_Bigru/chinese_L-12_H-768_A-12/
/PRE_Bigru/data/
/PRE_Bigru/origin_data/
PRE_dataset/craw_hudong_2.0/hudong_baike/person_relation/
PRE_dataset/craw_hudong_2.0/person_relation/
PRE_dataset/craw_hudong_2.0/hudong_baike/data/
PRE_dataset/craw_news/Chinese_name_rec/hanlp-1.7.7-release/
PRE_dataset/craw_hudong_2.0/craw_without_spider/
PRE_dataset/craw_news/Chinese_name_rec/files/
