<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title id="page_title">人物关系</title>
        <link rel="stylesheet" href="static/LoginPage.css" type="text/css" />
        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/map.js"></script>
        <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=mEKm2VjHEdOF6RGX3kulObKmgGkyP2Gy"></script>
    <style>
         textarea#lat_input_view {
              display:table;
              border:1px solid #FF0099;
              background-color:#FFCCFF;
              width:760px;
              height:400px;
              _position:relative;
              overflow:visible;
         }
    </style>
    </head>
    <body onload="initSearchPage()">
        <div class="result_body_bg">
            <div class="result_body_bg" id="map_container"></div>

            <div class="box_header">
                <textarea id="lat_input_view" class="search_input_view" type="text" placeholder="请输入文本" ></textarea>
                <button class="search_button" onclick="search()" >run</button>
            </div>

            <p id="address_text" class="search_result_text"></p>

            <div class="search_result_list_bg">
                <ul id="search_history_ul" class="result_list_ul"></ul>
            </div>
        </div>
    </body>
</html>
<script>
    function onclick(name)
    {
        //window.location.href="{{ url_for("test") }}";
        window.open("{{ url_for("test") }}","_self");
    }
</script>
function updateList(){
    $.ajax({
        type:"GET",
        url:"/get/search_history",
        data:{},
        success:function(res){
            if (res["success"]) {
                var data = res["data"];
                var li_html = ''
                for (var i=0; i<data.length; i++){
                    dic = data[I];
                    li_html += '<li class="result_list_li">';
                    li_html += '<div class="result_list_li_div">';
                    li_html += '<div class="li_row">' + dic["lat"] + '，' + dic["lng"] + '</div>';
                    li_html += '<div class="li_row">' + dic["address"] + '</div>';
                    li_html += '<div class="li_row">' + dic["search_time"] + '</div>';
                    li_html += '</div>';
                    li_html += '</li>';
                }
                $("#search_history_ul").html(li_html);
            } else {
                window.location.href='/login';
                alert(res["msg"]);
            }
        }
    });
}